<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <title>功能测试页面</title>
</head>
<body>
<div class="container">

    <h1>欢迎进入后台功能测试页面</h1>
    <p class="lead">专业的后台程序员不需要美工</p>

    <h3>测试功能一</h3>
    <p>测试前台的</p>

    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-primary"
                    onclick="connectWS(this.value)" value="01"> 开启风扇</button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary"
                    onclick="connectWS(this.value)" value="02"> 关闭风扇</button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary"
                    onclick="connectWS(this.value)" value="03"> 开启风扇摇头</button>
        </div>
    </div>


</div> <!-- /container -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/base/base.js}"></script>
</body>
</html>